@page "/rader"
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.RadarChart
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.Util
@using login.Data
<h4>Subject Nmae</h4>
<ChartJs.Blazor.Charts.ChartJsRadarChart @ref="_radarChartJs"
                                         Config="@_config"
                                         Width="600"
                                         Height="300" />
<br />
@code {


    private List<int> phy1performance = new List<int>();
    private List<int> phy2performance = new List<int>();
    private List<int> che1performance = new List<int>();
    private List<int> che2performance = new List<int>();
    private List<int> bio1performance = new List<int>();
    private List<int> bio2performance = new List<int>();
    private RadarConfig _config;
    ChartJsRadarChart _radarChartJs;

    private Random _rand = new Random();

    protected override void OnInitialized()
    {
        CalculateInfoForPaidStudent cal = new CalculateInfoForPaidStudent();
        cal.raderinfo();
        _config = new RadarConfig
        {
            Options = new RadarOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Participant's scores on the big-five"
                }
            }
        };

        _config.Data.Labels.AddRange(new[] { "Time", "Accuracy", "Amount" });

        _config.Data.Datasets.Add(GetNewDataset());
    }
    private RadarDataset GetNewDataset()
    {
        RadarDataset dataset = new RadarDataset
        {
            Label = $"Participant {_config.Data.Datasets.Count + 1}",
            BorderColor = ColorUtil.RandomColorString()
        };

        List<double> wwd = new List<double>();
        wwd.Add(1);
        wwd.Add(2);
        wwd.Add(3);
        dataset.Data = wwd;

        return dataset;
    }



}

