@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using ChartJs.Blazor.ChartJS.Common.Handlers
@using ChartJs.Blazor.Util
@using login.Data 
@using Newtonsoft.Json.Linq;

<h2>Linear Line Chart</h2>
<Chart @ref="_lineChartJs"
       Config="@_lineConfig"
       TConfig="LineConfig"
       Width="600"
       Height="300" />

@code
{
    readonly WeatherForecastService _forecastService = new WeatherForecastService ();
    LineConfig _lineConfig;
    ChartJsLineChart _lineChartJs;
    IEnumerable<Point> point;
    List<Axis> axis = new List<Axis> ();
    private LineDataset<Point> _tempPerHourSet;
    Axis ax;
    List<int> accurecy;

    public class Axis {
        public int t { get; set; }
        public int a { get; set; }


    }

    public void setAxisForPoint(List<int> a)
    {
        accurecy = a;

        for (int i = 0; i < accurecy.Count; i++ )
        {
            ax.t = i;
            ax.a = accurecy[0];
            axis.Add(ax);
        }
    }



    protected override async Task OnInitializedAsync ( )
    {
        _lineConfig = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true ,
                Title = new OptionsTitle
                {
                    Display = true ,
                    Text = "Line Chart"
                } ,
                Legend = new Legend
                {
                    Position = Position.Right
                } ,
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest ,
                    Intersect = false
                } ,
                Scales = new Scales
                {
                    xAxes = new List<CartesianAxis>
                {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Time"
                            },
                            GridLines = new GridLines
                            {
                                Display = false
                            },
                            Ticks = new LinearCartesianTicks
                            {
                                SuggestedMin = -2
                            }
                        }
                    } ,
                    yAxes = new List<CartesianAxis>
                {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Temp"
                            }
                        }
                    }
                } ,
                Hover = new LineOptionsHover
                {
                    Intersect = true ,
                    Mode = InteractionMode.Y
                }
            }
        };

        _tempPerHourSet = new LineDataset<Point>
        {
            BackgroundColor = ColorUtil.ColorString ( 0 , 255 , 0 , 1.0 ) ,
            BorderColor = ColorUtil.ColorString ( 0 , 0 , 255 , 1.0 ) ,
            Label = "Temp (C) per Hour" ,
            Fill = false ,
            PointBackgroundColor = ColorUtil.RandomColorString () ,
            BorderWidth = 1 ,
            PointRadius = 3 ,
            PointBorderWidth = 1 ,
            SteppedLine = SteppedLine.False ,
        };


        point = axis.Select ( p => new Point ( p.t , p.a ) );

        _tempPerHourSet.AddRange ( point );

        _lineConfig.Data.Datasets.Add ( _tempPerHourSet );
    }

    private string DegreesTickCallback ( JValue value , int index , JArray values )
    {
        return $"{value} °";
    }
}
