
@page "/confirmnumber"
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@inject NavigationManager NavigationManager
@using login.Data
@inject ServerConnection connect
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore

<div class="limiter">
    <div class="container-login100cn">
        <div class="wrap-login100cn">

            <form class="login100-form validate-form">
                <span class="login100-form">
                    We have sent confirmation code in this number
                </span>

                <br> <h2>@phonenumber</h2>
                <p style="color:red">@ErrorText</p>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" @bind="textcode" type="number" name="email" placeholder="Code">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="button" @onclick="send">
                        Check
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {

    private int code, textcode;
    string ErrorText, phonenumber,mail,pass,name;




    protected override async Task OnInitializedAsync()
    {
        code = await oLocalStore.GetItemAsync<int>("code");
        phonenumber = await oLocalStore.GetItemAsync<string>("ConfirmPhonenumber");
        mail = await oLocalStore.GetItemAsync<string>("mail");
        pass = await oLocalStore.GetItemAsync<string>("password");
        name = await oLocalStore.GetItemAsync<string>("name");
    }
    public void send()
    {
        if(code == textcode)
        {
            ErrorText = "Registration Succesful!";
            signIn();

        }
    }

    public async void signIn()
    {
        await Task.Run(() => connect.SignUp(mail, pass, name, phonenumber));
        NavigationManager.NavigateTo("/dashboard");
        
    }
}
