@page "/"
@using login.Data
@inject ServerConnection connect
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore 

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form">
                <span class="login100-form-title">
                    Sign In
                </span>
                <p style="color:red">@Error</p>
                <div class="wrap-input100 " data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" @bind="mail" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 " data-validate="Password is required">
                    <input class="input100" @bind="pass" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" style="background: #0094ff" type="button" @onclick="login">
                        @Logintxt
                    </button>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="button" @onclick="loginTeacher">
                        @LogintxtTeacher
                    </button>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="#" @onclick ="signup">
                        Create your Account                        
                    </a>
                </div>


            </form>
        </div>
    </div>
</div>
@code{
    private string mail, pass, Error, Logintxt, LogintxtTeacher;

    string sessionMsg = "";
    string sessionValue = "";


    protected override async Task OnInitializedAsync()
    {

        Student student = new Student();
        Teacher teacher = new Teacher();
        student.mail = await oLocalStore.GetItemAsync<string>("mail");
        student.password = await oLocalStore.GetItemAsync<string>("password");
        teacher.mail = await oLocalStore.GetItemAsync<string>("Tmail");
        teacher.password = await oLocalStore.GetItemAsync<string>("Tpassword");
        if(teacher.mail != null && teacher.password != null)
        {
            NavigationManager.NavigateTo("/TeacherDashboard");
        }
        else if (student.mail != null && student.password != null)
        {
            NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            Logintxt = "Login Student";
            LogintxtTeacher = "Login Teacher";
        }


    }

    public void signup()
    {
        NavigationManager.NavigateTo("/signup");
    }

    public async Task SaveSessionStudent(string mail, string password)
    {
        await oLocalStore.SetItemAsync("mail", mail);
        await oLocalStore.SetItemAsync("password", password);
    }
    public async Task SaveSessionTeacher(string mail, string password)
    {
        await oLocalStore.SetItemAsync("Tmail", mail);
        await oLocalStore.SetItemAsync("Tpassword", password);
    }


    private async Task login()
    {
        Logintxt = "Wait...";
        if (mail != null && pass != null )
        {
            await Task.Run(() => connect.SignIn(mail, pass));
            nevigate(0);
        }
        else
        {
            Error = "Can't use empty box";
        }
    }
    private async Task loginTeacher()
    {
        LogintxtTeacher = "Wait...";
        if (mail != null && pass != null)
        {
            await Task.Run(() => connect.SignInTeacher(mail, pass));
            nevigate(1);
        }
        else
        {
            Error = "Can't use empty box";
            LogintxtTeacher = "Login";
        }
    }

    public async void nevigate(int n)
    {
        if(n == 0)
        {
            Student student = connect.student;
            if (connect.submitted == 0)
            {

                await Task.Run(() => SaveSessionStudent(student.mail, student.password));

                NavigationManager.NavigateTo("/dashboard");
            }
            else
            {
                Error = "Wrong Username or Password";
                LogintxtTeacher = "Login";
            }
        }
        if(n == 1)
        {
            Teacher teacher = connect.teacher;
            if (connect.submitted == 0)
            {

                await Task.Run(() => SaveSessionTeacher(teacher.mail, teacher.password));

                NavigationManager.NavigateTo("/TeacherDashboard");
            }
            else
            {
                Error = "Wrong Username or Password";
                LogintxtTeacher = "Login";
            }
        }

    }


}