@page "/quiz"

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <h3>পরমাণু যে ফিশনযোগ্য, কে আবিষ্কার করেন?</h3>
            <label class="container">

                <input type="checkbox" checked="checked">

                <span class="checkmark"></span>
                1. অটোহান ও স্ট্রেসম্যান
            </label>
            
            <label class="container">
                ২. রজার বেকন ও বেকেরেল
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                3. রাইট ব্রাদারস
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">
                4. স্ট্রেসম্যান ও ম্যাক্সওয়েল
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>

@code {

}
